@import "tailwindcss";

@theme {
  --color-background: #1d1d1d;
}

:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

html,
body {
	min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: #242424;
}
